#mapCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#mapImageCont {
  position: relative;
  width: 1000px;
  height: 1000px;
}

#mapImageTopographic {
  width: 1000px;
  height: 1000px;
  position: absolute;
  opacity: 20%;
}

#mapImageSvg {
  width: 1000px;
  height: 1000px;
  position: absolute;
}

#mapMarkersSvg {
  width: 1000px;
  height: 1000px;
  position: absolute;
}

#mapImageDrawn {
  width: 1000px;
  height: 1000px;
  position: absolute;
  opacity: 20%;
}

#mapCanvas {
  position: absolute;
}

#arkmap_sidebar {
  width: 256px;
  height: 100%;
  position: fixed;
  right: 0;
  background-color: black;
  padding: 1em;
  display: none;
}

#arkmap_sidebar label,
#arkmap_sidebar input {
  display: block;
}

.ark_map_linework {
  fill: none;
  stroke: white;
  stroke-width: 1;
}

#mapInfo {
  position: sticky;
  top: 0em;
  padding: 1rem 6rem;
  margin: 0rem 10rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
