@font-face {
  font-family: solidMono;
  src: url("../assets/Solid-Mono.ttf");
}

@font-face {
  font-family: eirian;
  src: url("../assets/eirian.regular.otf");
}

@font-face {
  font-family: sonoVariable;
  src: url("../assets/SonoVariable.woff2") format("woff2-variations");
}

@font-face {
  font-family: firaCodeVF;
  src: url("../assets/FiraCode-VF.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: "Lab Mono Web";
  src: url("../assets/labmono-regular-web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.ark_rule_row {
  background-color: black;
  padding: 1em;
  margin-bottom: 0.5em;
}

.ark_rule_row:last-child {
  color: pink !important;
}

.ark_rule_text {
  color: var(--body-txt);
}

.ark_rule_text p {
  margin: 0em;
  margin-bottom: 0.5em;
}

.ark_rule_note {
  color: var(--body-txt-darker);
  font-size: 80%;
  padding: 0.25em;
}

.ark_rule_note p {
  font-size: 90%;
  margin: 0em;
  margin-top: 0.25em;
}
